
<ul id="footer_menu">
    <!--Home Button-->
    <li class="homeButton"><a href="#"> </a></li>
    
    <!--Account Button-->
    <li><a href="#">Account</a>
        
        <div class="one_column_layout">
            <div class="col_1">
                <a class="headerLinks">Stream</a>
                
                <a class="headerLinks">Messages</a>
                
                <a class="listLinks" style='font-weight:bold; color:white;'>Inbox (7)</a>
                <a class="listLinks">Sent </a>
                <a class="listLinks">Trash </a>
                <a class="listLinks">Compose</a>
                
            </div>
        </div>
    </li>
    
    <!--Profile Button-->
    <li><a href="#">Profile</a>
        <div class='three_column_layout'>
            <div class="col_3">
                <h2>Welcome to your Profile!</h2>
            </div>
            
            <div class="clear"> </div>
            
            <div class='col_1'>
                <p>This is an awesome layout for columns</p>
            </div>
            
            <div class='col_1'>
                <p>This is an awesome layout for columns</p>
            </div>
            
            <div class='col_1'>
                <p>This is an awesome layout for columns</p>
            </div>
            
            <div class="clear"> </div>
            
            <div class="col_1">
                <p class="black_box">This is a single column black box</p>
            </div>
            
            <div class="col_2">
                <p>This is a two column layout</p>
            </div>
            
            <div class="clear"> </div>
            
            <div class="col_3">
                <h2>My Profile</h2>
            </div>
            
            <div class="clear"> </div>
            
            <div class="col_3">
                <p>
                    <img src="#" class="img_left whiteBorder" />
                    <a href="#" style="display:inline; font-weight:bold; color:white;">read more</a>
                </p>
            </div>
            
            <div class="clear"> </div>
            
        </div>
        
    </li>
    
<!-- stuff button -->
    <li><a href="#">Stuff</a>
        <div class="two_column_layout">
            <div class="col_2">
                <p>Hello Mr. two column layout!</p>
            </div>
            <div class="clear"> </div>
        </div>
    </li>
    
    <!-- programs button -->
    <li><a href="#">Programs</a>
        <ul class="dropup">
            <li><a href="#">Calculator</a></li>
            <li><a href="#">Group Chat</a></li>
            <li><a href="#">Drawing Program</a></li>
            <li><a href="#">Awesome Sauce</a></li>
        </ul>
    </li>
    
    <!-- Log Out Button -->
    <li class="right"><a href="#">Logout</a></li>
</ul>

<!-- Notifications Icons -->
<ul id="notifications">
    <li>
        <a href="#" class="notificationIcons">
            <img src="../DevCom/images/twitter.png" />
        </a>
    </li>
    
    <li>    
        <a href="http://www.facebook.com/searchforserenity" class="notificationIcons">
            <img src="../DevCom/images/facebook.png" />
            <span>
                <img src="../../images/userDefault.png" style="float:left; width:24px; margin-right: 5px;" />
                <div style="display:inline; color:#CC0000; font-weight: bold;">Someone</div>
                liked your post : "My name is darryl and this footer is awesome!"
                
                <hr style="border:none; border-bottom: 1px solid #777777;" />
                
                <img src="../DevCom/images/userDefault.png" style="float:left; width:24px; margin-right: 5px;" />
                <div style="display:inline; color: #CC0000; font-weight: bold;">Someone Else</div>
                said they were with you at Texas Roadhouse.
            </span>
        </a>
    </li>
    
    <li><a href="#" class="notificationIcons">
        <img src="../DevCom/images/stumble.png" />
    </a></li>
</ul>
