<div id="formContainer">
	<form id="loginForm" method="post" action="./">
		<h1>Login to DevCom</h1>
		<div class="control-group">
			<div class="controls">
				<input type="text" name="loginEmail" id="loginEmail" placeholder="Email" />
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="password" name="loginPassword" id="loginPassword" placeholder="Password" />
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" name="submit" value="Login" />
			</div>
			<label id="showRecoverForm"><a>Forgot Password?</a></label>
		</div>
	</form>

	<form id="recoverForm" method="post" action="./" style="display:none;">
		<h1>Recover Your Info</h1>
		<div class="control-group">
			<div class="controls">
				<input type="text" name="recoverEmail" id="recoverEmail" placeholder="Email" />
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" name="submit" class="btn" value="Recover" />
				<label id="showLoginForm"><a>Back</a></label>
			</div>
		</div>
	</form>

	
</div>
<!-- Button to trigger modal -->
<a id="showModal" role="button" class="btn" data-toggle="modal">Show Modal</a>

	<!-- Acutal modal popup -->
<div id="myModal" class="modal hide fade" tabindex="1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="myModalLabel">Modal Header</h3>
	</div>
	<div class="modal-body">
		<p>Body</p>
	</div>
	<div class="modal-footer">
		<a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
		<a class="btn btn-primary">Stuff</a>
	</div>
</div> 


<div id="container">
<h2>Example of creating a Popover with Twitter Bootstrap</h2>  
<div class="well">  
<a href="#" id="example" class="btn btn-danger" rel="popover" data-content="It's so simple to create a tooltop for my website!" data-original-title="Twitter Bootstrap Popover">hover for popover</a>
</div>


<div id="toolTipExample">
<h2>Example of creating a ToolTip with Twitter Bootstrap</h2>  
<div class="well">  
<a href="#" id="ttEx" class="btn" data-toggle="tooltip" title="Tooltip!">hover for tooltip</a>
</div>