<div class="navbar navbar-static-top">
	<div class="navbar-inner">
		<ul class="nav">
			<li id="nav_home"><a>Home</a></li>	<li class="divider-vertical"></li>
			<li id="nav_login"><a>Login</a></li>	<li class="divider-vertical"></li>
			<li id="nav_register"><a>Register</a></li>	<li class="divider-vertical"></li>
			<li id="nav_contact"><a>Contact</a></li> <li class="divider-vertical"></li>
			<li id="nav_users"><a>Users</a></li><li class="divider-vertical"></li>
		</ul>
	</div>
</div>