<div class="registration_container">
	<h1>Sign up with DevCom</h1>	
	<form id="registration_form" >
		<div class="control-group">
	    <div class="controls">
	      <input type="text" id="regFirstName" name="regFirstName" placeholder="First Name">
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <div class="controls">
	      <input type="text" id="regLastName" name="regLastName" placeholder="Last Name">
	    </div>
	  </div>
	  
	   <div class="control-group">
	    <div class="controls">
	      <input type="text" id="regUsername" name="regUsername" placeholder="Username">
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <div class="controls">
 			 <input type="text" id="regEmail" name="regEmail" placeholder="Email">
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <div class="controls">
	      <input type="password" id="regPassword" name="regPassword" placeholder="Password">
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <div class="controls">
	    	<button id="btn_register" type="submit" class="btn">Register</button>
	    </div>
	  </div>
	</form>
</div>
